.Admin-container {
    display: flex;
    height: 100vh !important;
    .Admin-content {
        max-height: 100%;
        width: 100%;
        .ManageUser-container{
            height: 100%;
            .Manageuser-content{
                max-height: 100%;
            }
        }
    }
}
.TableUserPagination-paginate{
    display: flex;
    justify-content: center;
}
// .Admin-content{
//     width: 100%;
// }
.reactIconFa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
}

.pro-sidebar-header {
    .pro-menu.inner-submenu-arrows {
        .pro-menu-item {
            .pro-inner-item {
                .suffix-wrapper {
                    font-size: 25px;
                }
            }
        }
    }
}

