.display-infor-container {
  .fontBig {
    font-size: 20px;
    color: red;
  }

  .fontSmall {
    font-size: 15px;
    color: #61dafb;
  }

  .logoReact {
    width: 200px;
    height: 200px;
  }
}