body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container{
  .header-container {
    .navbar {
      z-index: 3;
      background-color: rgba(0,0,0,0) !important;
      .nav-link {
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

.btn-header{
  padding: 0 10px 0 10px;
  margin-right: 6px;
  border-radius: 7%;
  height: 40px;
  width: 80px;
}
.btn-login{
  background-color: white;
  &:hover{
    opacity: 0.7;
  }
}
.btn-signup{
  background-color: rgb(59, 59, 59) ;
  color: white;
  &:hover{
    background-color: rgb(27, 27, 27);
  }
}
  .app-container {
    .HomePage-container{
      position: relative;
      .videoHomePage{
        z-index: 1;
        width: 100vw;

        top: 0;
        bottom: 0;
        position: fixed;     
      } 
    }
  }

  .HomePage-content{
    font-size: 1.5rem;
    margin: 4em 0 0 2.5em;
    position: absolute;
    z-index: 2 ;
    width: 40vw;
    display: flex;
    gap: 2em;
    flex-direction: column;
  }
  .HomePage-titlecontent{
    font-size: 2.4rem;
    font-weight: 400;
    word-wrap: break-word;
    
  }
  .HomePage-textcontent{
    font-size: 1rem;
  }

 